@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css";
#about-Manu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all .8s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset;
  pointer-events: none;
}
#about-Manu:hover {
  background-color: black;
}
#about-Manu.active {
  opacity: 1;
  pointer-events: all;
}
#about-Manu .manu {
  font-family: 'Arial';
  font-size: 14px;
  letter-spacing: 1px;
}
#about-Manu .manu .fa-heart {
  color: red;
  animation: pulse .8s infinite alternate ease-in;
}
#about-Manu:hover .fa-heart {
  animation: pulse .2s infinite alternate ease-out;
}
#about-Manu a {
  padding: 5px;
  color: silver;
  text-decoration: none;
}
#about-Manu a:nth-child(1) {
  margin-left: auto;
}
#about-Manu a:nth-last-child(1) {
  margin-left: auto;
}
#about-Manu a:nth-last-child(1):hover {
  color: red;
}
#about-Manu a:nth-last-child(n+2):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#about-Manu *,
#about-Manu *:after,
#about-Manu *::before {
  outline: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
