@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-var-xl {
    font-size: min(8vw, 52px);
  }

  .text-var-lg {
    font-size: min(5vw, 40px);
  }

  .text-var-md {
    font-size: min(3.8vw, 20px);
  }
}
